section.contactform {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: left;
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        max-width: 600px;
        label {
            color: rgb(0, 0, 0);
            @media (max-width: 1094px) {
                font-size: 14px;
            }
            font-weight: 600;
        }
        input, textarea {
            width: 100%;
            color: black;
            margin-top: 10px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            background-color: rgba(181, 181, 181, 0.688);
            padding: .75em 1rem;
            margin-bottom: 1.5rem;
            @media (max-width: 1094px) {
                font-size: 12px;
            }
        }
        input::placeholder, 
        textarea::placeholder {
            color: rgba(0, 0, 0, 0.5);
        }
        button {
            //border: 1px solid rgba(0, 0, 0, 0.2);
            background-color: rgb(4, 47, 81);
            padding: .75em 1rem;
            color: #d0d0d0;
            @media (max-width: 1094px) {
                font-size: 14px;
            }
            font-weight: 600;
        }
        button:hover {
            background-color: rgb(182, 205, 255);
            color: black;
        }
    }
}