section.contactform {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: left;
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        max-width: 600px;
        label {
            color: rgb(177, 177, 177);
            @media (max-width: 1094px) {
                font-size: 14px;
            }
            font-weight: 600;
        }
        input, textarea {
            width: 100%;
            color: rgb(177, 177, 177);
            margin-top: 10px;
            border: 1px solid rgb(177, 177, 177);
            background-color: #313743;
            padding: .75em 1rem;
            margin-bottom: 1.5rem;
            @media (max-width: 1094px) {
                font-size: 12px;
            }
        }
        input::placeholder, 
        textarea::placeholder {
            color: rgba(177, 177, 177, 0.439);
        }
        button {
            border: 1px solid rgb(177, 177, 177);
            //background-color: rgb(4, 47, 81);
            padding: .75em 1rem;
            color: #d0d0d0;
            @media (max-width: 1094px) {
                font-size: 14px;
            }
            font-weight: 600;
        }
        button:hover {
            background-color: #98c379;
            color: #313743;
        }
    }
}