section.aboutme {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    @media (max-width: 1094px) {
        gap: 0px;
    }
    margin-bottom: 100px;
    flex-direction: column;
    .image {
        justify-content: center;
        transition: margin-left 0.3s ease;
        z-index: 3;
    }
    .line {
        z-index: 10;
        border-bottom: 1px solid  rgb(0, 0, 0);;
    }
    .info {
        justify-content: center;
        color: rgb(0, 0, 0);
        transition: margin-right 0.3s ease;
        z-index: 3;
        @media (max-width: 989px) {
            // text-align: center;
            // margin-left: 25px;
            // margin-right: 5px;
        }
        h2 {
            font-size: 20px;
            @media (max-width: 1094px) {
                font-size: 16px;
            }
            font-weight: 700;
            color: rgb(0, 0, 0);;
            letter-spacing: 1.2px;
        }
        p {
            margin-top: 31px;
            font-size: 16px;
            @media (max-width: 1094px) {
                font-size: 12px;
            }
            font-weight: 400;
            width: 100%;
        }
        ul {
            display: grid;
            grid-template-columns: repeat(2, minmax(140px, 200px));
            grid-gap: 0 10px;
            margin: 20px 0 0 0;
            list-style: circle;
            li {
            position: relative;
            margin-bottom: 10px;
            }
        }
        a {
            color:rgb(4, 47, 81);
            text-decoration: underline;
        }
        a:hover {
            color:rgb(70, 92, 143);
        }
    }
}