section.contact {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    // margin-left: 170px;
    // @media (max-width: 1017px) {
    //     margin-top: 1400px;
    // }
    h2 {
        font-size: 20px;
        font-weight: 700;
        color: rgb(82, 107, 166);
        letter-spacing: 2px;
    }
    h4 {
        margin-top: 5px;
        font-size: 26px;
        font-weight: 600;
        @media (max-width: 241px) {
            text-align: center;
        }
    }
    .info {
        margin-top: 51px;
        display: flex;
        align-items: center;
        gap:1.5rem;
        @media (max-width: 543px) {
            flex-direction: column;
            text-align: center;
        }
        span {
            align-items: center;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0,0,0,.1);
            color: #147efb;
            display: flex;
            height: 3rem;
            justify-content: center;
            width: 3rem;
        }
        .linkedin {
            margin-left: 31px;
            @media (max-width: 543px) {
                margin-left: 0px;
            }
        }
        .contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            // gap:0.5rem;
            // h3 {
            //     font-size: 18px;
            //     font-weight: 700;
            // }
            // a {
            //     cursor: pointer;
            // }
        }
    }
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        @media (max-width: 1199px) {
            width: 80%;
        }
        // gap:0.5rem;
        // h3 {
        //     font-size: 18px;
        //     font-weight: 700;
        // }
        // a {
        //     cursor: pointer;
        // }
    }
    margin-bottom: 167px;
}