section.contact {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    // margin-right: 80px;
    h2 {
        font-size: 20px;
        font-weight: 700;
        color: rgb(4, 47, 81);
        letter-spacing: 2px;
        @media (max-width: 1094px) {
            font-size: 16px;
        }
    }
    h4 {
        margin-top: 5px;
        font-size: 26px;
        font-weight: 600;
        @media (max-width: 1094px) {
            font-size: 16px;
        }
        @media (max-width: 241px) {
            text-align: center;
        }
    }
    .line {
        z-index: 10;
        border-bottom: 1px solid rgb(70, 92, 143);
    }
    .info {
        margin-top: 51px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        @media (max-width: 543px) {
            flex-direction: column;
            text-align: center;
        }
        span {
            align-items: center;
            background-color: rgb(0, 0, 0);
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0,0,0,.1);
            color: #000000;
            display: flex;
            height: 3rem;
            justify-content: center;
            width: 3rem;
        }
        .linkedin {
            margin-left: 31px;
            @media (max-width: 543px) {
                margin-left: 0px;
            }
        }
        .contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        @media (max-width: 1199px) {
            width: 80%;
        }
    }
    margin-bottom: 167px;
}