section.footer {
    color:white;
    // margin: 0 auto;
    // max-width: 107rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    .container {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        @media (max-width: 471px) {
            flex-direction: column;
            align-items: flex-start;
        }
        h4 {
            font-weight: 600;
        }
        .icons {
            @media (max-width: 471px) {
                margin-top: 10px;
            }
            display: flex;
            justify-content: center;
            gap:10px;
            align-items: center;
            a {
                cursor: pointer;
            }
        }
    }
}