section.hero {
    //margin-top: 30px;
    //padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    @media (max-width: 1094px) {
        margin-top: 100px;
        width: 100%;
        height: 100%;
        margin-bottom: 100px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        flex-direction: column;
        color: #E7EEF4;
        max-width: 1200px;
            padding-left: 5rem;
    padding-right: 5rem;
    @media (max-width:980px) {
            padding: 0rem 3rem;
    }
            @media (max-width:814px) {
            padding: 0rem 1.5rem;
    }
    @media (max-width:612px) {
            padding: 0rem 0.5rem;
    }
        //gap: 30vh;
    .topinfo {
        .wrapper {
            display: inline-flex;
            margin-top: -25px;
            .infinity {
                font-size: 45px;
                display: inline-block;
                font-weight: 600;
                color: #E4D1C9;
                text-shadow: 0 0 4px rgba(228, 209, 201, 0.5),
                    0 0 8px rgba(228, 209, 201, 0.3);
                @media (max-width: 1094px) {
                    font-size: 20px;
                }
            }
        }
        h1 {
        font-size: 90px;
        font-weight: 700;
        z-index: 3;
        color: #E4D1C9;
        text-shadow: 0 0 4px rgba(228, 209, 201, 0.5),
                    0 0 8px rgba(228, 209, 201, 0.3);
            @media (max-width: 1094px) {
                    font-size: 50px;
                }
        }
        .first {
            margin-bottom: -20px;
            font-family: "Fira";
            font-size: 16px;
            @media (max-width: 1094px) {
                margin-bottom: -10px;
                    font-size: 12px;
                }
        }
        .intro {
            margin-top: 30px;
            max-width: 70%;
                        @media (max-width:814px) {
            max-width: 100%;
    }
        }
        p {
            font-size: 18px;
            font-weight: 400;
                    @media (max-width: 1318px) {
            font-size: 16px;
            }
            // @media (max-width: 1094px) {
            //         font-size: 14px;
            //     }
        }
    }
    .bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .icons {
            // margin-top: 90%;
            display: flex;
            cursor: pointer;
            flex-direction: row;
            gap: 15px;
            @media (max-width: 1094px) {
                margin-top: 30px;
            }
            a {
                display: flex;
                align-items: flex-start;
                flex-direction: row;
                justify-content: center;
                gap: 8px;
                //border-radius: 5px;
                border: 0.5px solid #E7EEF4;
                padding: 7px 7px;
                width: 35px;
                height: 35px;
                transition: all .35s;
                
                @media (max-width: 1094px) {
                    width: 30px;
                }
        
                &:hover {
                    background-color: rgba(70, 92, 143, 0.406);
                    border: none;
                    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                }
            }        
            margin-bottom: 20px;
        }

        .info {
            margin-top: 31px;
            display: flex;
            cursor: pointer;
            flex-direction: column;
            gap: 15px;
            .button {
                display: inline-flex;
                align-items: center;
                white-space: nowrap; 
                width: 100% !important; 
                max-width: fit-content; 
                //border-radius: 5px;
                border: 0.5px solid #E7EEF4;
                padding: 4px 8px;
                transition: all 0.35s;
                text-align: center;
                gap: 8px;
                &:hover{
                    background-color: rgba(70, 92, 143, 0.406);
                    border: none;
                    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                }
                p {
                    font-size: 14px;
                    margin: 0;
                    color: #E7EEF4;
                    font-weight: 600;
                    @media (max-width: 1094px) {
                    font-size: 12px;
                }
                }
                img {
                    width: 20px;
                    @media (max-width: 1251px) {
                        width: 30%;
                    }
                }
            }
            margin-bottom: 20px;
        }
    }
    }

}