section.hero {
    margin-top: 240px;
    margin-left: 247px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 176px;
    .info {
        justify-content: center;
        h1 {
            font-size: 40px;
            font-weight: 700;
            color: white;
        }
        p {
            margin-top: 31px;
            color: white;
            max-width: 419px;
            font-size: 16px;
            font-weight: 400;
        }
        .icons {
            display: flex;
            margin-top: 31px;
            flex-direction: row;
            gap: 15px;
            margin-bottom: 236px;
        }
    }
    .image {
        margin-top: -380px;
        margin-right: 187px;
    }
}