section.languages {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 10;

  h2 {
    color: rgb(4, 47, 81);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-align: left;

    @media (max-width: 1094px) {
      font-size: 16px;
    }
  }

  .line {
    z-index: 10;
    border-bottom: 1px solid rgb(70, 92, 143);
  }

  .content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;

    .groups {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      h3 {
        font-size: 18px;
        font-weight: 700;
        color: rgb(70, 92, 143);
      }

      .language {
        margin-top: 10px;
        display: grid;
        gap: 1.1rem;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        .button {
          display: flex;
          align-items: center;
          //background-color: rgba(70, 92, 143, 0.406);
          border: 0.5px solid rgb(0, 0, 0);
          transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
          padding: 0.25rem 0.75rem;
          border-radius: 0.5rem;
          font-size: 12px;
          justify-content: flex-start;
          
          &:hover {
            transform: scale(1.01);
            box-shadow: 0 0 10px rgba(98, 128, 199, 0.1);
            z-index: 10;
            opacity: 1;
          }

          &:not(:hover) {
            opacity: 0.8;
          }
        }
      }
    }
  }

  margin-bottom: 100px;
}
