*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  section.portfolio {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 10;
    .container {
      z-index: 10;
      h2 {
        margin-top: 167px;
        color: rgb(82, 107, 166);
        font-weight: 700;
        font-size: 20px;
        text-align: left;
        margin-bottom: 5px;
        letter-spacing: 1.2px;
  
        @media (max-width: 1017px) {
          text-align: center;
          margin-left: 0px;
          font-size: 18px;
        }
      }
  
      .line {
        border-bottom: 1px solid rgb(82, 107, 166);
      }

      .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        .group {
          margin-top: 10px;
          flex-direction: column;
          h3 {
            color: rgb(82, 107, 166);
            font-weight: 700;
            font-size: 20px;
            text-align: left;
            margin-bottom: 5px;
            letter-spacing: 1.2px;
          }
          ul {
            li {
              list-style-type: circle;
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
  