*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

section.portfolio {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 10;
  // margin-right: 40px;
  // margin-left: 10px;

  .container {
    z-index: 10;

    h2 {
      margin-top: 100px;
      color: rgb(0, 0, 0);
      font-weight: 700;
      font-size: 20px;
      @media (max-width: 1094px) {
        font-size: 16px;
    }
      text-align: left;
      margin-bottom: 5px;
      letter-spacing: 1.2px;

      @media (max-width: 1017px) {
        text-align: center;
        margin-left: 0px;
        font-size: 18px;
      }
    }

    .line {
      border-bottom: 1px solid rgb(0, 0, 0);
    }

    span {
      color: rgb(0, 0, 0);
      text-align: left;
      font-weight: 700;
      font-size: 26px;

      @media (max-width: 1017px) {
        text-align: center;
        font-size: 20px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
      }
    }

    p {
      color: rgb(0, 0, 0);
      text-align: center;
    }

    .websites {
      margin-top: 51px;
      grid-gap: 2rem;
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);

      @media (max-width: 1562px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 790px) {
        grid-template-columns: 1fr;
      }

      .website {
        z-index: 1;
        // background-color: rgba(70, 92, 143, 0.406);
        padding: 2rem 1.75rem;
        border-radius: 1rem;
        // box-shadow: 0 0 10px rgba(70, 92, 143, 0.406);
        border: 0.5px solid rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;

        &:hover {
          transform: scale(1.01);
          background-color: rgba(70, 92, 143, 0.406);
          box-shadow: 0 0 10px rgba(70, 92, 143, 0.406);
          z-index: 10;
          opacity: 1;
          border: none;
        }

        &:not(:hover) {
          opacity: 0.8;
        }

        .header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          align-items: center;

          .image {
            a {
              cursor: pointer;
              img {
                transition: transform 0.3s ease;
                width: 40%;
              }

              &:hover img {
                transform: scale(1.01);
              }
            }
          }
          .links {
            a {
              .github {
                filter: saturate(0) brightness(10000%);
              }
            }
          }

          .secondimagetop,
          .secondimagebot {
            display: none;
          }

          @media (max-width: 1017px) {
            .secondimagetop {
              display: block;
            }

            .secondimagebot {
              display: none;
            }
          }
        }

        .text {
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          text-align: left;

          h3 {
            color: rgb(4, 47, 81);
            font-size: 16px;
            font-weight: 700;
            @media (max-width: 1094px) {
              font-size: 14px;
          }
            transition: font-size 0.3s ease;
            margin-top: 10px;
          }

          p {
            text-align: left;
            font-size: 14px;
            transition: font-size 0.3s ease;

            @media (max-width: 1426px) {
              font-size: 12px;
            }
          }

          .buttons {
            padding-top: 20px;
            transition: flex-wrap 0.3s ease;

            @media (max-width: 1329px) {
              flex-wrap: wrap;
            }

            @media (max-width: 1426px) {
              margin-top: 5px;
              gap: 0.5rem;
            }

            display: flex;
            gap: 0.5rem;

            p {
              color: #000000;
              font-size: 10px;
              text-align: center;
              background-color: #fff;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              font-weight: 600;
              padding: 0.25rem 0.25rem;
              border-radius: 5px;

              @media (max-width: 1139px) {
                padding: 0.25rem 0.25rem;
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
  // margin-bottom: 167px;
}
