section.work {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    h2 {
      color: rgb(82, 107, 166);
      font-size: 20px;
      font-weight: 700;
    }
    .accord {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      .accorditem {
        color: white;
        display: grid;
        grid-template-columns: 1fr max-content;
        @media (max-width: 790px) {
            display: flex;
            flex-direction: column;
        }
        width: 100%;
        max-width: 50rem;
        cursor: pointer;
        align-items: flex-start;
        overflow: auto; 
        .title {
          font-size: 18px;
          font-weight: 700;
          border: 1px solid rgb(82, 107, 166);
          padding: 5px;
          width: 210px;
          text-align: center;
        }
        .activeArea {
          border: 1px solid rgb(82, 107, 166);
          padding: 10px;
          grid-column: 2;
          margin-left: 10px; 
          @media (max-width: 790px) {
            margin-left: 0px;;
        }
          max-width: 550px;
          .position {
            font-style: italic;
          }
          .description {
            margin-top: 10px;
            font-style: normal;
          }
        }
      }
    }
    margin-bottom: 167px;
  }