.mail {
        position: absolute;
        background-image: linear-gradient(rgb(0, 88, 238) 0%, rgb(53, 147, 255) 4%, rgb(40, 142, 255) 6%, rgb(18, 125, 255) 8%, rgb(3, 111, 252) 10%, rgb(2, 98, 238) 14%, rgb(0, 87, 229) 20%, rgb(0, 84, 227) 24%, rgb(0, 85, 235) 56%, rgb(0, 91, 245) 66%, rgb(2, 106, 254) 76%, rgb(0, 98, 239) 86%, rgb(0, 82, 214) 92%, rgb(0, 64, 171) 94%, rgb(0, 48, 146) 100%);
        width: 500px;
        height: 500px;
        min-width: 400px;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        overflow-x: hidden;
        @media (max-width: 758px) {
          position: fixed !important;
          inset: 0 !important;

          width: 100vw !important;
          height: calc(100svh - 32px) !important;

          min-width: 0 !important;
          min-height: 0 !important;

          margin: 0 !important;
          border-radius: 0 !important;

          transform: none !important;
          overflow: auto;
          -webkit-overflow-scrolling: touch;
      }
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 30px;
            background-image: linear-gradient(rgb(0, 88, 238) 0%, rgb(53, 147, 255) 4%, rgb(40, 142, 255) 6%, rgb(18, 125, 255) 8%, rgb(3, 111, 252) 10%, rgb(2, 98, 238) 14%, rgb(0, 87, 229) 20%, rgb(0, 84, 227) 24%, rgb(0, 85, 235) 56%, rgb(0, 91, 245) 66%, rgb(2, 106, 254) 76%, rgb(0, 98, 239) 86%, rgb(0, 82, 214) 92%, rgb(0, 64, 171) 94%, rgb(0, 48, 146) 100%);
            justify-content: space-between;
            .leftheader{
                height: 30px;
                display: flex;
                align-items: center;
                flex-direction: row;
                font-size: 15px;
                font-weight: 500;
                img {
                    width: 3%;
                    margin-left: 5px;
                    margin-right: 5px;
                }
                p {
                    font-size: 13px;
                    font-weight: 600;
                    font-family: Trebuchet MS pixelated, sans-serif;
                }
            }
            .rightheader{
                height: 30px;
                display: flex;
                align-items: center;
                button {
                    margin-right: 2px;
                    border-radius: 3px;
                    height: 25px;
                    width: 25px;
                    box-shadow: #da4600 0 -1px 2px 1px inset;
                    background-image: radial-gradient(circle at 90% 90%, rgb(204, 70, 0) 0%, rgb(220, 101, 39) 55%, rgb(205, 117, 70) 70%, rgb(255, 204, 178) 90%, white 100%);
                    border-color: rgb(255, 255, 255, 1);
                    border-width: 1px;
                    .left {
                        background-color: white;
                        width: .125rem;
                        height: 1rem;
                        margin-top: 1px;
                        margin-left: 1px;
                        top: 0.45rem;
                        right: 1em;
                        rotate: 45deg;
                        position: absolute;
                    }
                    .right {
                        background-color: white;
                        width: .125rem;
                        height: 1rem;
                        margin-top: 1px;
                        margin-left: 1px;
                        top: 0.45rem;
                        right: 0.85rem;
                        rotate: -45deg;
                        position: absolute;
                    }
                }
            }
        }

        .functions {
            padding-top: .5rem;
            padding-left: .125rem;
            padding-right: .125rem;
            margin-left: .125rem;
            margin-right: .125rem;
            margin-bottom: .125rem;
            background-image: linear-gradient(to right, rgb(237, 237, 229) 0%, rgb(237, 232, 205) 100%);
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;          
            height: auto;      
            min-height: 0; 
            justify-content: space-between;
            //border-right: 1px solid rgba(0, 0, 0, .1);
            .topfunctions {
                padding-left: .5rem;
                padding-right: .5rem;
                //padding-top: .125rem;
                //padding-bottom: .125rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                height: 1.25rem;
                width: 99%;
                gap: 2px;
                .button {
                    display: block;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    height: 100%;
                    padding-left: .375rem;
                    padding-right: .375rem;
                    padding-top: .125rem;
                    font-family: Trebuchet MS pixelated, sans-serif;
                    font-size: 11px;
                    font-weight: 400;
                    color: black;
                    width: 100%;
                    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(248, 248, 248) 100%);
                    //background-color: rgb(229, 238, 255);
                    border-top: 1px solid rgb(96 165 250 / 1);
                    border-left: 1px solid rgb(96 165 250 / 1);
                    border-right: 1px solid rgb(96 165 250 / 1);
                    border-top-left-radius: 0.25rem;
                    border-top-right-radius: 0.25rem;
                }
            }
            // .topfunctions:first-child {
            //     margin-left: 1rem;
            // }
            // .topfunctions:last-child {
            //     margin-right: 1rem;
            // }
            .bottomfunctions {
                margin-left: .5rem;
                margin-right: .5rem;
                //padding-top: .125rem;
                //padding-bottom: .125rem;
                display: flex;
                flex-direction: row;
                font-family: Trebuchet MS pixelated, sans-serif;
                align-items: center;
                justify-content: space-around;
                height: 1.25rem;
                width: 100%;
                gap: 2px;
                position: relative;
                border-bottom: 1px solid rgb(96 165 250 / 1);
                background-color: rgb(248, 248, 248);
                                    border-top-left-radius: 0.25rem;
                    border-top-right-radius: 0.25rem;
                button {
                    all: unset;
                    cursor: pointer;
                    display: block;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    height: 100%;
                    padding-left: .375rem;
                    padding-right: .375rem;
                    //font-family: Tahoma, sans-serif;
                    font-size: 11px;
                    font-weight: 400;
                    color: black;
                    width: 100%;
                    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(248, 248, 248) 100%);
                    //background-color: rgb(229, 238, 255);
                    border-top: 1px solid rgb(96 165 250 / 1);
                    border-left: 1px solid rgb(96 165 250 / 1);
                    border-right: 1px solid rgb(96 165 250 / 1);
                    //border-bottom: 1px solid rgb(96 165 250 / 1);
                    box-sizing: border-box;
                    transition: background 0.1s;
                    border-top-left-radius: 0.25rem;
                    border-top-right-radius: 0.25rem;
                    //margin-top: -6px;
                    // &:hover {
                    //     background-color: rgb(229, 238, 255);
                    // }
                }
                .activetab {
                    background-color: white;
                    border-top: 4px solid linear-gradient(to bottom, #f8f8f8 0%, #c0c0c0 100%);
                    //border-top: 4px solid #D99043;
                    background:
                        linear-gradient(
                        to bottom, 
                        #D99043 0%,
                        #F3C256 12%,
                        #F3C256 47%,
                        #F9E5AD 100%
                        )
                        left 
                        top
                        #ffffff    
                        no-repeat; 
                        background-size:100% 3px;
                    border-bottom: none;
                    position: relative;
                    //margin-bottom: -1px;
                    z-index: 2;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        width: 100%;
                        height: 2px; 
                        background-color: white; 
                        z-index: 3; 
                    }
                }

                // button:hover {
                //     background-image: linear-gradient(rgb(0, 88, 238) 0%, rgb(53, 147, 255) 4%, rgb(40, 142, 255) 6%, rgb(18, 125, 255) 8%, rgb(3, 111, 252) 10%, rgb(2, 98, 238) 14%, rgb(0, 87, 229) 20%, rgb(0, 84, 227) 24%, rgb(0, 85, 235) 56%, rgb(0, 91, 245) 66%, rgb(2, 106, 254) 76%, rgb(0, 98, 239) 86%, rgb(0, 82, 214) 92%, rgb(0, 64, 171) 94%, rgb(0, 48, 146) 100%);
                //     color: white;
                // }
            }

            
            .tabcontent {
                //background-color: white;
                padding-left: .125rem;
                padding-right: .125rem;
                // margin-left: .125rem;
                // margin-right: .125rem;
                background-image: linear-gradient(to right, rgb(237, 237, 229) 0%, rgb(237, 232, 205) 100%);
                width: 100%;
                color: black;
                flex: 1;
                min-height: 0;
                display: flex;
                flex-direction: column;
                margin-bottom: 2.5rem;
                overflow: hidden;
                position: relative;
                .tabpane {
                    background-color: white;
                    overflow-y: auto;
                    overflow-x: hidden;
                    width: 100%;
                    flex: 1 1 auto;
                    min-height: 0;
                    border-left: 1px solid rgb(96 165 250 / 1);
                    border-right: 1px solid rgb(96 165 250 / 1);
                    border-bottom: 1px solid rgb(96 165 250 / 1);
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 1rem;
                    padding-top: 1rem;
                    padding-left: 0.25rem;
                    padding-bottom: 1rem;
                    box-sizing: border-box;
                    padding-right: 1px;
                    //padding-right: 0.25rem;
                    img {
                        width: 100px;
                        height: 100px;
                    }
                    .info {
                        display: flex;
                        flex-direction: column;
                        width: 30%;
                        p {
                            all: unset;
                            font-family: Trebuchet MS pixelated, sans-serif;
                            font-size: 14px;
                        }
                        ul {
                            margin-top: -1px;
                            margin-left: -1rem;
                            list-style-type: none;
                            font-family: Trebuchet MS pixelated, sans-serif;
                            font-size: 13px;
                        }
                    }
                }
                .tab {
                    background-color: white;
                    overflow-y: auto;
                    overflow-x: hidden;
                    width: 100%;
                    flex: 1 1 auto;
                    min-height: 0;
                    border-left: 1px solid rgb(96 165 250 / 1);
                    border-right: 1px solid rgb(96 165 250 / 1);
                    border-bottom: 1px solid rgb(96 165 250 / 1);
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    font-family: Trebuchet MS pixelated, sans-serif;
                    //gap: 4rem;
                    padding-top: 1rem;
                    padding-left: 0.25rem;
                    padding-bottom: 1rem;
                    padding-right: 0.25rem;
                    box-sizing: border-box;
                    //padding-right: 1px;
                    span {
                            padding-top: 5px;
                            font-family: Trebuchet MS pixelated, sans-serif;
                            font-size: 14px;
                            overflow-wrap: break-word; /* prevents long words from overflowing */
                            word-break: break-word;
                    }
                    p {
                            all: unset;
                            font-family: Trebuchet MS pixelated, sans-serif;
                            font-size: 14px;
                            overflow-wrap: break-word; /* prevents long words from overflowing */
                            word-break: break-word;
                    }
                    ul {
                            margin-top: -1px;
                            margin-left: -1rem;
                            list-style-type: none;
                            font-family: Trebuchet MS pixelated, sans-serif;
                            font-size: 14px;
                    }
                    img {
                        width: 100px;
                        height: 100px;
                    }
                    .groupbox {
                        position: relative;
                        border: 2px solid #b9b9b98f;
                        border-radius: 4px;
                        padding: 1rem;
                        margin-top: 1rem;
                        background-color: white;
                        }

                        .groupboxLabel {
                            position: absolute;
                            top: -0.8em; 
                            left: 0.75rem; 
                            background-color: white; 
                            padding: 0 0.25rem; 
                            font-family: Trebuchet MS pixelated, sans-serif;
                            font-size: 12px;
                            color: rgb(0, 88, 238);
                        }
                        .socialinfo {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.5rem;
                            align-items: flex-start;
                            img {
                                width: 40px;
                                height: 40px;
                            }
                        }
                        .link {
                            display: flex;
                            justify-content: flex-end;
                            a {
                            all: unset;
                            width: 65px;
                            text-align: center;
                            cursor: pointer;
                            padding: 0.25rem 0.5rem;
                            background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(248, 248, 248) 100%);
                            border: 1px solid rgb(63, 65, 67);
                            border-radius: 0.25rem;
                            font-family: Trebuchet MS pixelated, sans-serif;
                            font-size: 12px;
                            font-weight: 500;
                            color: black;
                            //box-shadow: #3b82f6 0 0px 2px 1px inset;
                            transition: background 0.1s;
                            &:hover {
                                background-color: rgb(229, 238, 255);
                            }
                        }
                        }
                }
                .skills {
                    display: flex;
                    flex: 1;
                    min-height: 0; /* allow flex children to shrink */
                    overflow: hidden;

                    .sidebar {
                    width: 35%;
                    min-width: 100px;
                    background-color: rgb(230, 230, 230);
                    border-right: 2px solid rgb(96 165 250 / 1);
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;

                    ul {
                        list-style: none;
                        padding: 0.5rem;
                        margin: 0;
                        font-family: "Trebuchet MS pixelated", sans-serif;
                        font-size: 13px;

                        li {
                        padding: 0.25rem 0.5rem;
                        cursor: pointer;
                        border-radius: 3px;
                        &:hover {
                            background-color: rgb(248, 248, 248);
                        }
                        &.active {
                            background-color: white;
                            font-weight: 600;
                            //border-top: 4px solid #D99043;
                            border-left: 4px solid #F3C256;
                        }
                        }
                    }
                    }

                    .details {
                    flex: 1;
                    padding: 0.5rem;
                    overflow-y: auto;
                    background-color: white;

                    table {
                        width: 100%;
                        border-collapse: collapse;
                        font-family: "Trebuchet MS pixelated", sans-serif;
                        font-size: 13px;

                        th, td {
                        padding: 0.25rem 0.5rem;
                        border-bottom: 1px solid rgb(200, 200, 200);
                        text-align: left;
                        }

                        th {
                        background-color: rgb(240, 240, 240);
                        }

                        td:last-child {
                        text-align: center;
                        }
                    }
                    }
                }
            }

            .bottombuttons {
                position: absolute;
                bottom: 0.5rem;
                right: 1rem;
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                align-items: center;
                button {
                    all: unset;
                    width: 65px;
                    text-align: center;
                    cursor: pointer;
                    padding: 0.25rem 0.5rem;
                    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(248, 248, 248) 100%);
                    border: 1px solid rgb(63, 65, 67);
                    border-radius: 0.25rem;
                    font-family: Trebuchet MS pixelated, sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                    color: black;
                    //box-shadow: #3b82f6 0 0px 2px 1px inset;
                    transition: background 0.1s;
                    &:hover {
                        background-color: rgb(229, 238, 255);
                    }
                }
                button:first-child {
                    box-shadow: #3b82f6 0 0px 2px 1px inset;
                }
                button:last-child {
                    opacity: 0.45;
                    background-color: white;
                    cursor: auto;
                }
            }
        }
        .resizeHandle {
            position: absolute;
            z-index: 10;
            background: transparent;
            @media (max-width: 758px) {
                display: none;
            }
        &.right {
            right: 0;
            top: 0;
            width: 6px;
            height: 100%;
            cursor: ew-resize;
        }

        &.bottom {
            bottom: 0;
            left: 0;
            width: 100%;
            height: 6px;
            cursor: ns-resize;
        }

        &.corner {
            bottom: 0;
            right: 0;
            width: 12px;
            height: 12px;
            cursor: nwse-resize;
        }
    }

    .tab::-webkit-scrollbar, .tabpane::-webkit-scrollbar, .details::-webkit-scrollbar {
        width: 16px;
        background-color: #d4d0c8;
        border-radius: 0 !important;
    }

    .tab::-webkit-scrollbar-track, .tabpane::-webkit-scrollbar-track, .details::-webkit-scrollbar-track {
        background: #e4e4e4;
        border-left: 1px solid #a0a0a0;
        border-right: 1px solid #fff;
        border-radius: 0 !important;
    }

    .tab::-webkit-scrollbar-thumb, .tabpane::-webkit-scrollbar-thumb, .details::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, #f8f8f8 0%, #c0c0c0 100%);
        border: 1px solid #808080;
       //border-radius: 2px;
        border-radius: 0 !important;
        box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #b0b0b0;
    }

    .tab::-webkit-scrollbar-thumb:hover, .tabpane::-webkit-scrollbar-thumb:hover, .details::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(to bottom, #e0e0e0 0%, #a0a0a0 100%);
    }

    .tab::-webkit-scrollbar-corner, .tabpane::-webkit-scrollbar-corner, .details::-webkit-scrollbar-corner {
        background: #d4d0c8;
    }
}
