html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #d0d0d0;
}

.app {
  // background: 
  //   radial-gradient(circle at top right, rgba(58, 59, 63, 0.6), transparent 50%),
  //   linear-gradient(135deg, #23252a, #3a3b3f);
  background-color: #d0d0d0;
  color: rgb(0, 0, 0);
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.leftColumn {
  // background: 
  //   radial-gradient(circle at top left, rgba(17, 18, 20, 0.6), transparent 50%),
  //   linear-gradient(135deg, #070708, #0c0c0e);
  background-color: #d0d0d0;
  position: fixed;
  width: 20%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
  padding: 2.5%;
  border-right: 1px solid #0c0c0eb4;
  @media (max-width: 1094px) {
    display: none;
  }
}

.rightColumn {
  width: 75%;
  margin-left: 25%;
  padding-right: 7.5%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding-left: 2.5%;
  @media (max-width: 1094px) {
    width: 100%;
    margin-left: 0;
    padding-left: 5%;
    padding-right: 5%;
    height: auto;
    overflow-y: visible;
    z-index: 0;
  }
}