@font-face {
  font-family: 'Tahoma';
  src: url('../public/fonts/tahoma.ttf');
}

@font-face {
  font-family: 'Trebuchet MS pixelated';
  src: url('../public/fonts/windows-xp-pixel-alt.otf');
}

@font-face {
  font-family: 'Trebuchet MS bold pixelated';
  src: url('../public/fonts/trebuchet-pixel.otf');
}

:root {
  font-family: Tahoma;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  /* //place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
